*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2e7d3270;
    font-size: 20%;
    height: 100vh;
}

.cabecalho{
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid green;
}
.cabecalho h3{
    font-size: 2rem;

}
.cabecalho .abas{
    display: flex;
    justify-content: space-evenly;
    width: 18%;
    flex-direction: row;
    font-size: 1rem;

}

.corpo{
    height: 90%;
    display: flex;
    flex-direction: row;

}   

.corpo > .interacao, 
.corpo > .bloco_imagem{
    height: 100%;
    width: 100%;
}

.interacao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.interacao > .pergunta{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 3%;
    font-size: 2rem;
    gap: 4px;
}

.interacao > .resposta{
    height: 70%;
    font-size: 1.3rem;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.interacao > .resposta > .texto_resposta{
    background-color: yellow;
    height: 86%;
    width: 100%;
    background-color: rgba(59, 59, 59, 0.413);
    align-self: center;
    border: 1px solid green;
    


}


.interacao > .pergunta textarea{
    font-size: 1.6rem;
    background-color: rgba(59, 59, 59, 0.487);
    border-color: green;
}



#imagem_principal{
    height: 100%;
}
